@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.woff2") format("woff2"), url("fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Bold.woff2") format("woff2"), url("fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-Bold.woff2") format("woff2"), url("fonts/Outfit-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --blue: #030041;
  --bright-blue: #0d6efd;
  --white: #fff;
  --black: #000;
  --green: #00fda2;
  --text: #040415;
}

body {
  font-family: "Inter";
  font-weight: 400;
  background-color: white;
  color: var(--text);
  accent-color: var(--green);
}

b, strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Outfit";
  font-weight: 800;
}

.navbar {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
.navbar.navbar-light .navbar-toggler {
  border: 0px;
  color: var(--white) !important;
}
.navbar .navbar-brand img {
  margin-right: 15px;
}
.navbar .navbar-brand .logotype {
  font-family: "Outfit";
  color: var(--green);
  font-weight: 700;
}
.navbar .nav-item .nav-link {
  font-weight: 600;
  color: var(--white) !important;
}
.navbar .nav-item .nav-link.active {
  color: var(--green) !important;
}

.skiplink a {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.skiplink a:focus {
  position: fixed;
  z-index: 1035;
  width: auto;
  height: auto;
  clip: auto;
  margin-top: 1em;
  margin-left: 1em;
  padding: 0.5em 0.75em;
  background-color: var(--green);
  color: var(--blue);
  text-decoration: underline;
}

header {
  height: 100vh;
  display: flex;
  background: url("images/banner.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .title {
  font-family: "Outfit";
  color: var(--white);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}
header .title span {
  color: var(--white);
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  color: var(--blue);
}
main .card .card-title {
  color: var(--bright-blue);
}
main a {
  color: var(--bright-blue);
  text-decoration: none;
  display: inline-block;
  position: relative;
}
main a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--bright-blue);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
main a:hover, main a :focus {
  color: var(--bright-blue);
}
main a:hover::after, main a :focus::after {
  width: 100%;
  left: 0;
}

.pre-container {
  display: block;
  background-color: var(--blue);
  height: 66px;
  padding: 15px;
}

.contact {
  background-color: var(--blue);
  color: var(--white);
}

.card {
  border-radius: 5px;
  border: 0px solid;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  border-radius: 0;
}

footer {
  padding: 20px 0;
  background-color: var(--blue);
  color: var(--white);
}
@media (min-width: 1024px) {
  footer {
    padding: 40px 0;
  }
}
footer ul {
  padding-left: 0;
  list-style-type: none;
}
footer ul li {
  padding: 0.25em 0;
}
footer ul.socialmedia li {
  display: inline;
  margin-right: 0.75em;
}
footer ul.socialmedia li a {
  text-decoration: none;
  width: 55px;
  height: 55px;
  border: 2px solid var(--white);
  border-radius: 50%;
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
footer ul.socialmedia li a:after {
  display: none;
}
footer ul.socialmedia li a:hover, footer ul.socialmedia li a :focus {
  text-decoration: none;
  color: var(--green);
  border: 2px solid var(--green);
}
footer ul.socialmedia li a i {
  font-size: 1.5em;
}
footer ul.socialmedia li:last-child {
  margin-right: 0;
}
footer a {
  color: var(--green);
  text-decoration: none;
  display: inline-block;
  position: relative;
}
footer a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--green);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
footer a:hover, footer a :focus {
  color: var(--green);
}
footer a:hover::after, footer a :focus::after {
  width: 100%;
  left: 0;
}

.form-check-input:checked {
  background-color: var(--green);
  border-color: var(--green);
}

.form-control {
  border-radius: 0;
}

.triangle.top {
  -webkit-clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
  height: 100px;
  margin-top: -100px;
}
.triangle.top.white {
  background-color: var(--white);
}
.triangle.top.black {
  background-color: var(--black);
}
.triangle.top.blue {
  background-color: var(--blue);
}
.triangle.bottom {
  -webkit-clip-path: polygon(0 50%, 0 0, 100% 0);
          clip-path: polygon(0 50%, 0 0, 100% 0);
  height: 100px;
  margin-bottom: -100px;
}
.triangle.bottom.white {
  background-color: var(--white);
}
.triangle.bottom.black {
  background-color: var(--black);
}
.triangle.bottom.blue {
  background-color: var(--blue);
}/*# sourceMappingURL=style.css.map */